In [2]:
USE [MyLibrary];

In [8]:
SELECT 
    [Password] AS [Pwd],
    [FirstName] + ' ' + [LastName] AS [FullName]
FROM
    [Users]

Pwd,FullName
1234,Simon Stirling
4444555,Jane Doe

In [11]:
SELECT
    *
FROM
    [Users]

ID,FirstName,LastName,Password,LastLogin,UserName
1,Simon,Stirling,1234,2024-01-01 00:00:00.000,simonsbs
3,Jane,Doe,4444555,2020-01-01 00:00:00.000,user1

In [13]:
SELECT
    [ID],
    [FirstName]
FROM
    [Users]

ID,FirstName
1,Simon
4,aaa
3,Jane
5,bbb
6,ccc

In [11]:
SELECT
    *
FROM
    [Users]
WHERE
    [ID] = 3
    OR
    [FirstName] = 'Simon'

ID,FirstName,LastName,Password,LastLogin,UserName
1,Simon,Stirling,1234,2024-01-01 00:00:00.000,simonsbs
3,Jane,Doe,4444555,2020-01-01 00:00:00.000,user1

In [12]:
SELECT
    *
FROM
    [Users]
WHERE
    [ID] = 3
    AND
    [FirstName] = 'Simon'

In [16]:
SELECT
    *
FROM
    [Users]
WHERE
    [ID] BETWEEN 3 AND 5

ID,FirstName,LastName,Password,LastLogin,UserName
4,aaa,aaa,aaa,2020-01-01 00:00:00.000,aaa
3,Jane,Doe,4444555,2020-01-01 00:00:00.000,user1
5,bbb,bbb,bbb,2020-01-01 00:00:00.000,bbb