In [3]:
CREATE DATABASE [MyLibrary];

: Msg 1801, Level 16, State 3, Line 1
Database 'MyLibrary' already exists. Choose a different database name.

In [24]:
USE [MyLibrary];

In [29]:
CREATE TABLE [Books] (
    [ID] INT,
    [Name] NVARCHAR(200)
)

In [30]:
ALTER TABLE [Books]
ADD [SKU] CHAR(10);

In [31]:
ALTER TABLE [Books]
DROP COLUMN [Name];

In [28]:
DROP TABLE [Books];